<!DOCTYPE html>
<html>
<head>
    <script type="text/javascript" src="/static/actors.js" defer></script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">

    <title>CsED</title>

    <!-- Import Montserrat font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <!-- Normalize.css fixes lot of differences between browsers default styles -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css"/>

    <!-- project wide styling -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style/site.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/header.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/footer.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/background.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/button.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/card.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/table.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/form.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/grid.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/utils.css') }}">

    <!-- page specific styling -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style/detailed-view.css') }}">

</head>

<body>
<div id="body-wrapper">
    <header class="clearfix">
        <img id="header-logo" src="{{ url_for('static', filename='assets/codecool-logo.png') }}" alt="Codecool Logo">
        <span id="header-title" class="title">
                        Codecool Series DB
                    </span>
        <div id="header-auth">
            <button type="button" id="bt_register">Register</button>
            <button type="button" id="bt_login">Login</button>
        </div>
    </header>
    <section>
        <h1 class="title text-center">Welcome page</h1>
        <div class="card">
            <h2>Welcome TV show lovers!</h2>
            <p>This great site is happy to bring you your favourite TV show's <i>details</i>.</p>
            <p></p>
            <p>Okay, actually this is a designed dumb page without any logic.</p>
            <p>You can find a navigational element, the so called "breadcrumb" above the page's title. Use it for
                in-depth
                navigation.
            </p>
        </div>
        <div>
            <form action="/search" method="POST">
                <div id="min_numb">
                    <input name="min_numb" id="min_numb" placeholder="Min number of seasons">
                    <button type="submit">Search min/max</button>
                </div>
            </form>
            <form action="/search-shows" method="POST">
                <div id="search_word">
                    <input name="search_word" id="search_word" placeholder="Search shows">
                    <button type="submit">Search shows</button>
                </div>
            </form>
            <form action="/avg-actor" method="POST">
                <div id="user_date">
                    <input name="user_date" id="user_date" placeholder="GIVE US DATE">
                    <button type="submit">Search shows</button>
                </div>
            </form>
            <form action="/ratings" method="POST">
                <div id="genre">
                    <input name="my_genre" id="my_genre" placeholder="my_genre">
                    <button type="submit">Search my_genre</button>
                </div>
            </form>
            <form action="/most-active">
                <div id="most-active">
                    <button type="submit">Most active Actors</button>
                </div>
            </form>
            <form action="/shows-runtime">
                <div id="shows-runtime">
                    <button type="submit">shows-runtime</button>
                </div>
            </form>
        </div>
         <div class="card">
            <h2>Top 10 actors</h2>
             <table class="top_actors">
                 <thead>
                 <tr>
                     <th>Name</th>
                     <th>Number of shows</th>
                 <tr>
                 </thead>
                <tbody class="actor_names">
                 {% for actor in actors %}
                 <tr class="actor_names">
                     {% if loop.index == 1 %}
                         <td class="actor_names">{{ actor.name }} <button id="myBtn"> <img src="/static/images/gold.png" style="width: 50px; height: 50px"></button></td>
                     {% elif loop.index == 2 %}
                      <td class="actor_names">{{ actor.name }} <button id="myBtn"> <img src="/static/images/silver.png" style="width: 50px; height: 50px"></button></td>
                     {% elif loop.index == 3 %}
                      <td class="actor_names">{{ actor.name }} <button id="myBtn"> <img src="/static/images/bronze.png" style="width: 50px; height: 50px"></button></td>
                     {% else %}
                      <td class="actor_names">{{ actor.name }}</td>
                     {% endif %}
                     <td class="actor_names">{{ actor.number_of_roles }}</td>
                 </tr>
                 {% endfor %}
                </tbody>
             </table>
         </div>
        <div class="card">
            <ul>
                {% for show in shows %}
                    <li>
                        <a href="{{ '/tv-show/' + (show['id'] | string) }}">{{ show['title'] }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </section>
<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
  <iframe width="560" height="400" src="https://www.youtube.com/embed/1_Z5q152GSQ" frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>

  </iframe>
  </div>

</div>
    <footer>
        This will turn me FUCKING CRAZY
    </footer>
</div>
<div class="background">
    <div class="dark-blue-layer"></div>
    <div class="light-blue-layer"></div>
</div>
</body>
</html>